@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(75, 153, 221);
}
.container{
    position: relative;
   max-width: 1350px ;
   width: 100%;
   padding: 20px;
   margin: 50px auto;
}
button{
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 10px black 

}